section.shop
  .title-block
    .title-block__name shop
    .title-block__subname.wow.slideInLeft(data-wow-offset="300") shop
  .shop__slider-nav
      .shop__slider-trigger-prev.slider-nav.slider-prev
        img(src="img/arrows-left.svg").slider-nav__icon
      .shop__slider-trigger-next.slider-nav.slider-next
        img(src="img/arrows-right.svg").slider-nav__icon
  .shop__slider
    .shop__slider-item
      .shop__slider-inner
        .shop__slider-info
          .descr
            .headline-right Style
            .descr__head.descr__head-shop North Nugget TT Surfboard
          .shop__slider-price
            ul.shop__star-list.star-list
              img(src="img/star.svg" alt="")
              img(src="img/star.svg" alt="")
              img(src="img/star.svg" alt="")
              img(src="img/star.svg" alt="")
              img(src="img/star.svg" alt="")
            span $799 <sup>99</sup>
          .shop__slider-btn
            a(href="#").btn Drop
              span in
        .shop__slider-content
          .surfboard.wow.fadeInUp(data-wow-offset="400")
            img(src="img/surfboard.png" alt="")
            .surfboard-box.surfboard__position--1
              .surfboard-box__circle
                .circle-row
                .circle-row
              .surfboard-box__content Double Concave with Vee Shape low point
            .surfboard-box.surfboard__position--2
              .surfboard-box__circle
                .circle-row
                .circle-row
              .surfboard-box__content Double Concave with Vee Shape low point
            .surfboard-box.surfboard__position--3
              .surfboard-box__circle
                .circle-row
                .circle-row
              .surfboard-box__content Double Concave with Vee Shape low point
          .shop__extras.wow.fadeInUp
            .shop__extras-title Extras
            .shop__extras-inner
              .shop__extras-box
                .shop__extras-img
                  img(src="img/wax.png" alt="")
                .shop__extras-name Sex Wax
                .shop__extras-price $24.99
              .shop__extras-box
                .shop__extras-img
                  img(src="img/bracelet.png" alt="")
                .shop__extras-name Pura Vida
                .shop__extras-price $27.99
    .shop__slider-item
      .shop__slider-inner
        .shop__slider-info
          .descr
            .headline-right Style
            .descr__head.descr__head-shop North Nugget TT Surfboard
          .shop__slider-price
            ul.shop__star-list.star-list
              img(src="img/star.svg" alt="")
              img(src="img/star.svg" alt="")
              img(src="img/star.svg" alt="")
              img(src="img/star.svg" alt="")
              img(src="img/star.svg" alt="")
            span $799 <sup>99</sup>
          .shop__slider-btn
            a(href="#").btn Drop
              span in
        .shop__slider-content
          .surfboard
            img(src="img/surfboard.png" alt="")
            .surfboard-box.surfboard__position--1
              .surfboard-box__circle
                .circle-row
                .circle-row
              .surfboard-box__content Double Concave with Vee Shape low point
            .surfboard-box.surfboard__position--2
              .surfboard-box__circle
                .circle-row
                .circle-row
              .surfboard-box__content Double Concave with Vee Shape low point
            .surfboard-box.surfboard__position--3
              .surfboard-box__circle
                .circle-row
                .circle-row
              .surfboard-box__content Double Concave with Vee Shape low point
          .shop__extras
            .shop__extras-title Extras
            .shop__extras-inner
              .shop__extras-box
                .shop__extras-img
                  img(src="img/wax.png" alt="")
                .shop__extras-name Sex Wax
                .shop__extras-price $24.99
              .shop__extras-box
                .shop__extras-img
                  img(src="img/bracelet.png" alt="")
                .shop__extras-name Pura Vida
                .shop__extras-price $27.99
