.container
  section.surf 
    .title-block
      .title-block__name surf
      .title-block__subname.wow.slideInLeft(data-wow-offset="300") surf
    .surf__subtitle
      .subtitle.wow.fadeInRight(data-wow-offset="400")
        .headline-left Current location
        .subtitle__head California <span>|</span> USA
    .slider-map.wow.zoomInDown(data-wow-offset="350" data-wow-duration="1.5s")
      .slider-dots.slider-dots--1
        .slider-dots__circle.wow.fadeInUpBig(data-wow-delay="1.1s")
        .slider-dots__content.wow.fadeIn(data-wow-delay="2.5s")
          .slider-dots__content-row
            .slider-dots__content-head
              .slider-dots__content-title Airlie Beach
              .slider-dots__content-subtitle Australia
            a(href="#").slider-dots__content-link
              img(src='img/arrows-right.svg')
          .slider-dots__content-row
            .slider-dots__content-item
              img(src="img/surf-icon.svg" alt="")
              .slider-dots__content-number 9 - 13
              .slider-dots__content-name Surf (FT)
            .slider-dots__content-item
              img(src="img/water-icon.svg" alt="")
              .slider-dots__content-number +2.3
              .slider-dots__content-name Tide (FT)
            .slider-dots__content-item
              img(src="img/wind-icon.svg" alt="")
              .slider-dots__content-number 4 SE
              .slider-dots__content-name Wind (KTS)
      .slider-dots.slider-dots--2
        .slider-dots__circle.wow.fadeInUpBig(data-wow-delay="1.2s")
        .slider-dots__content
          .slider-dots__content-row
            .slider-dots__content-head
              .slider-dots__content-title Airlie Beach
              .slider-dots__content-subtitle Australia
            a(href="#").slider-dots__content-link
              img(src='img/arrows-right.svg')
          .slider-dots__content-row
            .slider-dots__content-item
              img(src="img/surf-icon.svg" alt="")
              .slider-dots__content-number 9 - 13
              .slider-dots__content-name Surf (FT)
            .slider-dots__content-item
              img(src="img/water-icon.svg" alt="")
              .slider-dots__content-number +2.3
              .slider-dots__content-name Tide (FT)
            .slider-dots__content-item
              img(src="img/wind-icon.svg" alt="")
              .slider-dots__content-number 4 SE
              .slider-dots__content-name Wind (KTS)
      .slider-dots.slider-dots--3
        .slider-dots__circle.wow.fadeInUpBig(data-wow-delay="1.3s")
        .slider-dots__content
          .slider-dots__content-row
            .slider-dots__content-head
              .slider-dots__content-title Airlie Beach
              .slider-dots__content-subtitle Australia
            a(href="#").slider-dots__content-link
              img(src='img/arrows-right.svg')
          .slider-dots__content-row
            .slider-dots__content-item
              img(src="img/surf-icon.svg" alt="")
              .slider-dots__content-number 9 - 13
              .slider-dots__content-name Surf (FT)
            .slider-dots__content-item
              img(src="img/water-icon.svg" alt="")
              .slider-dots__content-number +2.3
              .slider-dots__content-name Tide (FT)
            .slider-dots__content-item
              img(src="img/wind-icon.svg" alt="")
              .slider-dots__content-number 4 SE
              .slider-dots__content-name Wind (KTS)
      .slider-dots.slider-dots--4
        .slider-dots__circle.wow.fadeInUpBig(data-wow-delay="1.4s")
        .slider-dots__content
          .slider-dots__content-row
            .slider-dots__content-head
              .slider-dots__content-title Airlie Beach
              .slider-dots__content-subtitle Australia
            a(href="#").slider-dots__content-link
              img(src='img/arrows-right.svg')
          .slider-dots__content-row
            .slider-dots__content-item
              img(src="img/surf-icon.svg" alt="")
              .slider-dots__content-number 9 - 13
              .slider-dots__content-name Surf (FT)
            .slider-dots__content-item
              img(src="img/water-icon.svg" alt="")
              .slider-dots__content-number +2.3
              .slider-dots__content-name Tide (FT)
            .slider-dots__content-item
              img(src="img/wind-icon.svg" alt="")
              .slider-dots__content-number 4 SE
              .slider-dots__content-name Wind (KTS)
      .slider-dots.slider-dots--5
        .slider-dots__circle.wow.fadeInUpBig(data-wow-delay="1.5s")
        .slider-dots__content
          .slider-dots__content-row
            .slider-dots__content-head
              .slider-dots__content-title Airlie Beach
              .slider-dots__content-subtitle Australia
            a(href="#").slider-dots__content-link
              img(src='img/arrows-right.svg')
          .slider-dots__content-row
            .slider-dots__content-item
              img(src="img/surf-icon.svg" alt="")
              .slider-dots__content-number 9 - 13
              .slider-dots__content-name Surf (FT)
            .slider-dots__content-item
              img(src="img/water-icon.svg" alt="")
              .slider-dots__content-number +2.3
              .slider-dots__content-name Tide (FT)
            .slider-dots__content-item
              img(src="img/wind-icon.svg" alt="")
              .slider-dots__content-number 4 SE
              .slider-dots__content-name Wind (KTS)
      .slider-dots.slider-dots--6
        .slider-dots__circle.wow.fadeInUpBig(data-wow-delay="1.6s")
        .slider-dots__content
          .slider-dots__content-row
            .slider-dots__content-head
              .slider-dots__content-title Airlie Beach
              .slider-dots__content-subtitle Australia
            a(href="#").slider-dots__content-link
              img(src='img/arrows-right.svg')
          .slider-dots__content-row
            .slider-dots__content-item
              img(src="img/surf-icon.svg" alt="")
              .slider-dots__content-number 9 - 13
              .slider-dots__content-name Surf (FT)
            .slider-dots__content-item
              img(src="img/water-icon.svg" alt="")
              .slider-dots__content-number +2.3
              .slider-dots__content-name Tide (FT)
            .slider-dots__content-item
              img(src="img/wind-icon.svg" alt="")
              .slider-dots__content-number 4 SE
              .slider-dots__content-name Wind (KTS)
      .slider-dots.slider-dots--7
        .slider-dots__circle.wow.fadeInUpBig(data-wow-delay="1.7s")
        .slider-dots__content
          .slider-dots__content-row
            .slider-dots__content-head
              .slider-dots__content-title Airlie Beach
              .slider-dots__content-subtitle Australia
            a(href="#").slider-dots__content-link
              img(src='img/arrows-right.svg')
          .slider-dots__content-row
            .slider-dots__content-item
              img(src="img/surf-icon.svg" alt="")
              .slider-dots__content-number 9 - 13
              .slider-dots__content-name Surf (FT)
            .slider-dots__content-item
              img(src="img/water-icon.svg" alt="")
              .slider-dots__content-number +2.3
              .slider-dots__content-name Tide (FT)
            .slider-dots__content-item
              img(src="img/wind-icon.svg" alt="")
              .slider-dots__content-number 4 SE
              .slider-dots__content-name Wind (KTS)
      .slider-dots.slider-dots--8
        .slider-dots__circle.wow.fadeInUpBig(data-wow-delay="1.8s")
        .slider-dots__content
          .slider-dots__content-row
            .slider-dots__content-head
              .slider-dots__content-title Airlie Beach
              .slider-dots__content-subtitle Australia
            a(href="#").slider-dots__content-link
              img(src='img/arrows-right.svg')
          .slider-dots__content-row
            .slider-dots__content-item
              img(src="img/surf-icon.svg" alt="")
              .slider-dots__content-number 9 - 13
              .slider-dots__content-name Surf (FT)
            .slider-dots__content-item
              img(src="img/water-icon.svg" alt="")
              .slider-dots__content-number +2.3
              .slider-dots__content-name Tide (FT)
            .slider-dots__content-item
              img(src="img/wind-icon.svg" alt="")
              .slider-dots__content-number 4 SE
              .slider-dots__content-name Wind (KTS)
    .surf-slider 
      .surf-slider--prev.slider-nav
        img(src="img/arrows-left.svg").slider-nav__icon
      .surf-slider--next.slider-nav
        img(src="img/arrows-right.svg").slider-nav__icon
      .surf-slider__boxies
        .surf-box.wow.fadeInUp(data-wow-offset="400" data-wow-delay=".3s" style="background-image: url(img/slide-1.jpg);")
          .surf-box__inner
            .surf-box__inner-title Malibu Beach
            .surf-box__inner-location California <span>|</span> USA
            .surf-box__inner-btn
              a(href="#").btn view
                span surf 
        .surf-box.wow.fadeInUp(data-wow-offset="400" data-wow-delay=".6s" style="background-image: url(img/slide-2.jpg);")
          .surf-box__inner
            .surf-box__inner-title Airlie Beach
            .surf-box__inner-location Queensland <span>|</span> Australia
            .surf-box__inner-btn
              a(href="#").btn view
                span surf 
        .surf-box.wow.fadeInUp(data-wow-offset="400" data-wow-delay=".9s" style="background-image: url(img/slide-3.jpg);")
          .surf-box__inner
            .surf-box__inner-title Cloud Nine
            .surf-box__inner-location Siargao <span>|</span> Philippines
            .surf-box__inner-btn
              a(href="#").btn view
                span surf 
        .surf-box.wow.fadeInUp(data-wow-offset="400" data-wow-delay="1.2s" style="background-image: url(img/slide-4.jpg);")
          .surf-box__inner
            .surf-box__inner-title Vieux Boucau
            .surf-box__inner-location Hossegor <span>|</span> France
            .surf-box__inner-btn
              a(href="#").btn view
                span surf
        .surf-box(style="background-image: url(img/slide-1.jpg);")
          .surf-box__inner
            .surf-box__inner-title Malibu Beach
            .surf-box__inner-location California <span>|</span> USA
            .surf-box__inner-btn
              a(href="#").btn view
                span surf 
        .surf-box(style="background-image: url(img/slide-2.jpg);")
          .surf-box__inner
            .surf-box__inner-title Airlie Beach
            .surf-box__inner-location Queensland <span>|</span> Australia
            .surf-box__inner-btn
              a(href="#").btn view
                span surf 
        .surf-box(style="background-image: url(img/slide-3.jpg);")
          .surf-box__inner
            .surf-box__inner-title Cloud Nine
            .surf-box__inner-location Siargao <span>|</span> Philippines
            .surf-box__inner-btn
              a(href="#").btn view
                span surf 
        .surf-box(style="background-image: url(img/slide-4.jpg);")
          .surf-box__inner
            .surf-box__inner-title Cloud Nine
            .surf-box__inner-location Siargao <span>|</span> Philippines
            .surf-box__inner-btn
              a(href="#").btn view
                span surf
  section.holder
    .container
      .title-block
        .title-block__name travel
        .title-block__subname.wow.slideInLeft(data-wow-offset="300") travel 
      .holder__slider
        .holder__slider-item.holder-slider
          .holder-slider__head(style="background-image: url(img/travelslider-bg.png);")
            .holder-slider__subtitle
              .holder__slider-trigger.slider-nav.slider-prev
                img(src="img/arrows-left.svg").slider-nav__icon
              .holder__slider-trigger.slider-nav.slider-next
                img(src="img/arrows-right.svg").slider-nav__icon
              .subtitle.wow.fadeInRight(data-wow-offset="400")
                .headline-left shore
                .subtitle__head Airlie Beach <span>|</span> Australia
          .holder-slider__descr.wow.slideInUp(data-wow-offset="400" style="background-image: url(img/virgin.png);")
            .descr
              .headline-right Airline
              .descr__head Virgin Australia
                img(src="img/avia-logo.svg" alt="")
          .holder-slider__info
            .holder-slider__info-item.wow.fadeInUp(data-wow-offset="400" data-wow-delay=".3s")
              .holder-slider__info-subtitle Destination
              .holder-slider__info-title Queensland <br> Australia
            .holder-slider__info-item.wow.fadeInUp(data-wow-offset="400" data-wow-delay=".5s")
              .holder-slider__info-subtitle Distance
              .holder-slider__info-title 7,065 Miles
            .holder-slider__info-item.wow.fadeInUp(data-wow-offset="400" data-wow-delay=".7s")
              .holder-slider__info-subtitle Travel Time
              .holder-slider__info-title 23 Hours <br> 5 Minutes
            .holder-slider__info-item.wow.fadeInUp(data-wow-offset="400" data-wow-delay=".9s")
              .holder-slider__info-subtitle Pricing
              .holder-slider__info-title $1,976 USD
                span.holder-pricing__span Round Trip
          .holder-slider__btn
            a(href="#").btn.wow.fadeInUp(data-wow-delay="1.5s") Book
              span Flight
        .holder__slider-item.holder-slider
          .holder-slider__head(style="background-image: url(img/travelslider-bg.png);")
            .holder-slider__subtitle
              .holder__slider-trigger.slider-nav.slider-prev
                img(src="img/arrows-left.svg").slider-nav__icon
              .holder__slider-trigger.slider-nav.slider-next
                img(src="img/arrows-right.svg").slider-nav__icon
              .subtitle
                .headline-left shore
                .subtitle__head Airlie Beach <span>|</span> Australia
          .holder-slider__descr(style="background-image: url(img/virgin.png);")
            .descr
              .headline-right Airline
              .descr__head Virgin Australia
                img(src="img/avia-logo.svg" alt="")
          .holder-slider__info
            .holder-slider__info-item
              .holder-slider__info-subtitle Destination
              .holder-slider__info-title Queensland <br> Australia
            .holder-slider__info-item
              .holder-slider__info-subtitle Distance
              .holder-slider__info-title 7,065 Miles
            .holder-slider__info-item
              .holder-slider__info-subtitle Travel Time
              .holder-slider__info-title 23 Hours <br> 5 Minutes
            .holder-slider__info-item
              .holder-slider__info-subtitle Pricing
              .holder-slider__info-title $1,976 USD
                span.holder-pricing__span Round Trip
          .holder-slider__btn
            a(href="#").btn Book
              span Flight
        .holder__slider-item.holder-slider
          .holder-slider__head(style="background-image: url(img/travelslider-bg.png);")
            .holder-slider__subtitle
              .holder__slider-trigger.slider-nav.slider-prev
                img(src="img/arrows-left.svg").slider-nav__icon
              .holder__slider-trigger.slider-nav.slider-next
                img(src="img/arrows-right.svg").slider-nav__icon
              .subtitle
                .headline-left shore
                .subtitle__head Airlie Beach <span>|</span> Australia
          .holder-slider__descr(style="background-image: url(img/virgin.png);")
            .descr
              .headline-right Airline
              .descr__head Virgin Australia
                img(src="img/avia-logo.svg" alt="")
          .holder-slider__info
            .holder-slider__info-item
              .holder-slider__info-subtitle Destination
              .holder-slider__info-title Queensland <br> Australia
            .holder-slider__info-item
              .holder-slider__info-subtitle Distance
              .holder-slider__info-title 7,065 Miles
            .holder-slider__info-item
              .holder-slider__info-subtitle Travel Time
              .holder-slider__info-title 23 Hours <br> 5 Minutes
            .holder-slider__info-item
              .holder-slider__info-subtitle Pricing
              .holder-slider__info-title $1,976 USD
                span.holder-pricing__span Round Trip
          .holder-slider__btn
            a(href="#").btn Book
              span Flight
        .holder__slider-item.holder-slider
          .holder-slider__head(style="background-image: url(img/travelslider-bg.png);")
            .holder-slider__subtitle
              .holder__slider-trigger.slider-nav.slider-prev
                img(src="img/arrows-left.svg").slider-nav__icon
              .holder__slider-trigger.slider-nav.slider-next
                img(src="img/arrows-right.svg").slider-nav__icon
              .subtitle
                .headline-left shore
                .subtitle__head Airlie Beach <span>|</span> Australia
          .holder-slider__descr(style="background-image: url(img/virgin.png);")
            .descr
              .headline-right Airline
              .descr__head Virgin Australia
                img(src="img/avia-logo.svg" alt="")
          .holder-slider__info
            .holder-slider__info-item
              .holder-slider__info-subtitle Destination
              .holder-slider__info-title Queensland <br> Australia
            .holder-slider__info-item
              .holder-slider__info-subtitle Distance
              .holder-slider__info-title 7,065 Miles
            .holder-slider__info-item
              .holder-slider__info-subtitle Travel Time
              .holder-slider__info-title 23 Hours <br> 5 Minutes
            .holder-slider__info-item
              .holder-slider__info-subtitle Pricing
              .holder-slider__info-title $1,976 USD
                span.holder-pricing__span Round Trip
          .holder-slider__btn
            a(href="#").btn Book
              span Flight
        .holder__slider-item.holder-slider
          .holder-slider__head(style="background-image: url(img/travelslider-bg.png);")
            .holder-slider__subtitle
              .holder__slider-trigger.slider-nav.slider-prev
                img(src="img/arrows-left.svg").slider-nav__icon
              .holder__slider-trigger.slider-nav.slider-next
                img(src="img/arrows-right.svg").slider-nav__icon
              .subtitle
                .headline-left shore
                .subtitle__head Airlie Beach <span>|</span> Australia
          .holder-slider__descr(style="background-image: url(img/virgin.png);")
            .descr
              .headline-right Airline
              .descr__head Virgin Australia
                img(src="img/avia-logo.svg" alt="")
          .holder-slider__info
            .holder-slider__info-item
              .holder-slider__info-subtitle Destination
              .holder-slider__info-title Queensland <br> Australia
            .holder-slider__info-item
              .holder-slider__info-subtitle Distance
              .holder-slider__info-title 7,065 Miles
            .holder-slider__info-item
              .holder-slider__info-subtitle Travel Time
              .holder-slider__info-title 23 Hours <br> 5 Minutes
            .holder-slider__info-item
              .holder-slider__info-subtitle Pricing
              .holder-slider__info-title $1,976 USD
                span.holder-pricing__span Round Trip
          .holder-slider__btn
            a(href="#").btn Book
              span Flight
        .holder__slider-item.holder-slider
          .holder-slider__head(style="background-image: url(img/travelslider-bg.png);")
            .holder-slider__subtitle
              .holder__slider-trigger.slider-nav.slider-prev
                img(src="img/arrows-left.svg").slider-nav__icon
              .holder__slider-trigger.slider-nav.slider-next
                img(src="img/arrows-right.svg").slider-nav__icon
              .subtitle
                .headline-left shore
                .subtitle__head Airlie Beach <span>|</span> Australia
          .holder-slider__descr(style="background-image: url(img/virgin.png);")
            .descr
              .headline-right Airline
              .descr__head Virgin Australia
                img(src="img/avia-logo.svg" alt="")
          .holder-slider__info
            .holder-slider__info-item
              .holder-slider__info-subtitle Destination
              .holder-slider__info-title Queensland <br> Australia
            .holder-slider__info-item
              .holder-slider__info-subtitle Distance
              .holder-slider__info-title 7,065 Miles
            .holder-slider__info-item
              .holder-slider__info-subtitle Travel Time
              .holder-slider__info-title 23 Hours <br> 5 Minutes
            .holder-slider__info-item
              .holder-slider__info-subtitle Pricing
              .holder-slider__info-title $1,976 USD
                span.holder-pricing__span Round Trip
          .holder-slider__btn
            a(href="#").btn Book
              span Flight
        .holder__slider-item.holder-slider
          .holder-slider__head(style="background-image: url(img/travelslider-bg.png);")
            .holder-slider__subtitle
              .holder__slider-trigger.slider-nav.slider-prev
                img(src="img/arrows-left.svg").slider-nav__icon
              .holder__slider-trigger.slider-nav.slider-next
                img(src="img/arrows-right.svg").slider-nav__icon
              .subtitle
                .headline-left shore
                .subtitle__head Airlie Beach <span>|</span> Australia
          .holder-slider__descr(style="background-image: url(img/virgin.png);")
            .descr
              .headline-right Airline
              .descr__head Virgin Australia
                img(src="img/avia-logo.svg" alt="")
          .holder-slider__info
            .holder-slider__info-item
              .holder-slider__info-subtitle Destination
              .holder-slider__info-title Queensland <br> Australia
            .holder-slider__info-item
              .holder-slider__info-subtitle Distance
              .holder-slider__info-title 7,065 Miles
            .holder-slider__info-item
              .holder-slider__info-subtitle Travel Time
              .holder-slider__info-title 23 Hours <br> 5 Minutes
            .holder-slider__info-item
              .holder-slider__info-subtitle Pricing
              .holder-slider__info-title $1,976 USD
                span.holder-pricing__span Round Trip
          .holder-slider__btn
            a(href="#").btn Book
              span Flight
        .holder__slider-item.holder-slider
          .holder-slider__head(style="background-image: url(img/travelslider-bg.png);")
            .holder-slider__subtitle
              .holder__slider-trigger.slider-nav.slider-prev
                img(src="img/arrows-left.svg").slider-nav__icon
              .holder__slider-trigger.slider-nav.slider-next
                img(src="img/arrows-right.svg").slider-nav__icon
              .subtitle
                .headline-left shore
                .subtitle__head Airlie Beach <span>|</span> Australia
          .holder-slider__descr(style="background-image: url(img/virgin.png);")
            .descr
              .headline-right Airline
              .descr__head Virgin Australia
                img(src="img/avia-logo.svg" alt="")
          .holder-slider__info
            .holder-slider__info-item
              .holder-slider__info-subtitle Destination
              .holder-slider__info-title Queensland <br> Australia
            .holder-slider__info-item
              .holder-slider__info-subtitle Distance
              .holder-slider__info-title 7,065 Miles
            .holder-slider__info-item
              .holder-slider__info-subtitle Travel Time
              .holder-slider__info-title 23 Hours <br> 5 Minutes
            .holder-slider__info-item
              .holder-slider__info-subtitle Pricing
              .holder-slider__info-title $1,976 USD
                span.holder-pricing__span Round Trip
          .holder-slider__btn
            a(href="#").btn Book
              span Flight
  include ../sleep/sleep
  include ../shop/shop
  